/* Overwrites for stock wp2016 css */
/* Authored by dreas1@me.com 03/2017 */

body, input, select, textarea {
    color: #1a1a1a;
    font-family: Open Sans, Georgia, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

.site-title {
	font-family: Open Sans, Georgia, sans-serif;
	font-size: 28px;
	/* font-size: 1.4375rem; */
	font-weight: 700;
	line-height: 1.2173913043;
	margin: 0;
}

.site-header {
    padding-top: 0.9375em;
    padding-right: 7.6923%;
    padding-bottom: 1.9375em;
    padding-left: 7.6923%;
}

.custom-logo {
    max-width: 80px;
}

.site-info {
    color: #686868;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.6153846154;
}

@media screen and (min-width: 61.5625em)
style.css?ver=4.7.3:3430
.widget {
    margin-bottom: 2.307692em;
}

.widget .widget-title {
	/* 
font-family: inherit;
	font-size: 22px;
	font-size: 1em;
	letter-spacing: 0.046875em;
	line-height: 0.6em;
	margin: 0 0 1.75em;
 */
	text-transform: none;
}

.textwidget h4 {
	/* letter-spacing: 0.140625em; */
	text-transform: none;
}

.pt-cv-content-item {
	padding-bottom: 0px;
}

.pt-cv-ifield>*, .pt-cv-view .pt-cv-content-item>* {
    margin-bottom: 40px;
}

.widget {
	border-top: 2px solid #808080;
	margin-bottom: 3.5em;
	padding-top: 1.75em;
}

#main h2 {
	margin-bottom: 15px;
	border-top: 2px solid #808080;
}

.debug{
    color: #dddddd;
   /*  font-size: 13px; */
    font-size: 0.8125rem;
    line-height: 1.6153846154;
}


















