/* Orverwrties for stock wp2016 css */

body, input, select, textarea {
    color: #1a1a1a;
    font-family: Open Sans, Georgia, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

.site-title {
	font-family: Open Sans, Georgia, sans-serif;
	font-size: 28px;
	/* font-size: 1.4375rem; */
	font-weight: 700;
	line-height: 1.2173913043;
	margin: 0;
}

.site-header {
    padding-top: 0.9375em;
    padding-right: 7.6923%;
    padding-bottom: 1.9375em;
    padding-left: 7.6923%;
}

.custom-logo {
    max-width: 80px;
}

.site-info {
    color: #686868;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.6153846154;
}

@media screen and (min-width: 61.5625em)
style.css?ver=4.7.3:3430
.widget {
    margin-bottom: 2.307692em;
}